

.nav-link.active {
  font-weight: bolder;
}



.todolist {
    margin-top: 40px;
}

.todoitems {
  margin-top: 40px;
}

.todoitem {
  line-height: 50px;
  margin: 15px;
}

.todoitembox {
  display: flex;
  align-items: center;
  box-shadow: 0px 5px 20px 0px #6a8491;
}

.todoitemtext:hover {
  opacity: .3;
  transition: all 300ms;
}

.todoitemtext {
  font-weight: 400;
  font-size: 24px;
}

.todoitemdeleteicon {
  color: #13eb37
}



.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}




